<web-app version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.bezshtanko.university_admission_servlet.controller.AppServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.bezshtanko.university_admission_servlet.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.bezshtanko.university_admission_servlet.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>com.bezshtanko.university_admission_servlet.filter.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>FacultiesPaginationFilter</filter-name>
        <filter-class>com.bezshtanko.university_admission_servlet.filter.FacultiesPaginationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FacultiesPaginationFilter</filter-name>
        <url-pattern>/app/admin/faculties</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FacultiesPaginationFilter</filter-name>
        <url-pattern>/app/entrant/faculties</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>
            com.bezshtanko.university_admission_servlet.listener.SessionListener
        </listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/home.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>

</web-app>
